.notice {
    $parent: &;
    @include smoothText;
    &--start {
        position:relative;
        border:0;
        padding: 30px 40px;
        background: url(../images/bg_notice--start.jpg) no-repeat 50% 50%;
        background-size: cover;
        &:before {
            content:"";
            display:block;
            z-index:1;
            position:absolute;
            top:0; right:0; bottom:0; left:0;
            background-color: $secondary;
            opacity:.28;
        }
        &#{$parent}__img {
            display:block;
            margin:auto;
            @include breakpoints(md) {
                margin:0;
                position:absolute;
                right:0;
                top:50%;
                transform:translateY(-50%);
            }
        }
        &#{$parent}__title {
            margin-top:0;
            color: #fff;
            font-size: 16px;
            font-weight:400;
            line-height: 1.55;
            strong {
                font-size:20px;
                font-weight:700;
            }
        }
        //WordPress class
        .main {
            position:relative;
            z-index:2;
            @include breakpoints(md) {
                padding-right: 250px;
            }
        }
        .button.button-hero {
            font-weight:400;
            font-size: 16px;
            height:46px;
            box-shadow:none;
            color: #fff;
            border-color: $primary;
            background-color: $primary;
            @include hover {
                color: #fff;
                border-color: darken($primary, 5%);
                background-color: darken($primary, 5%);
            }
        }
    }
}