#apple-pay-button-wrapper {
	text-align: center;
}

div.apple-pay-cart-notice span {
	display: block;
	color: #FF0000;
}


apple-pay-button {
	display: inline-block;
	--apple-pay-button-width: 200px;
	--apple-pay-button-height: 36px;
	--apple-pay-button-border-radius: 3px;
	--apple-pay-button-padding: 0px 0px;
	--apple-pay-button-box-sizing: border-box;
	margin: 10px 0px;
}

apple-pay-button.isDisabled {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.5;
}

#apple-pay-button-wrapper apple-pay-button,
.cart_totals apple-pay-button {
	--apple-pay-button-width: 100%;
	--apple-pay-button-height: 60px;
	--apple-pay-button-padding: 1em;
	-webkit-appearance: -apple-pay-button;

}
