.payplug-oney {
    display: flex;
    align-items: center;
	font-size: 15px;
	margin-bottom: 10px;
}
.payplug-oney .oney-img {
    height: 3rem;
    width: 3rem;
    margin: 0 .5rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.payplug-oney .oney-3x4x { background-image: url(../images/lg-3x4xoney.png); min-width: 8em; margin-bottom: -.2em; background-position: center center; float: left;}
.payplug-oney .oney-without-fees-3x4x { background-image: url(../images/Oneywithoutfees3x4x.png); min-width: 13em; margin-bottom: -.2em; background-position: center center; float: left;}
.payplug-oney.disabled .oney-3x4x { background-image: url(../images/lg-3x4xoney-disabled.png); }
.payplug-oney.disabled .oney-without-fees-3x4x { background-image: url(../images/Oneywithoutfees3x4x-disable.png); }
.payplug-oney-popup {
    cursor: pointer;
}
.payplug-oney #oney-show-popup {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    text-align: center;
    border: 3px solid #86bd28;
    border-radius: 1rem;
    margin-top: 9px;
    float: right;
}
.payplug-oney.disabled #oney-show-popup {
    color: #ababab !important;
    border-color: #ababab;
}

#payment .payment_methods li[class*=oney_x] img.payplug-payment-icon {
    width: auto;
    max-height: 30px;
    padding-right: 5px;
}
div.payment_method_oney_x3_with_fees_disabled, div.payment_method_oney_x4_with_fees_disabled {
    color: #980000;
}

.payplug-lds-roller {display: inline-block;position: relative;width: 80px;height: 80px; }
.payplug-lds-roller div {animation: payplug-lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;transform-origin: 40px 40px;}
.payplug-lds-roller div:after {content: " ";display: block;position: absolute;width: 7px;height: 7px;border-radius: 50%;background: #ababab;margin: -4px 0 0 -4px;}
.payplug-lds-roller div:nth-child(1) {animation-delay: -0.036s;}
.payplug-lds-roller div:nth-child(1):after {top: 63px;left: 63px;}
.payplug-lds-roller div:nth-child(2) {animation-delay: -0.072s;}
.payplug-lds-roller div:nth-child(2):after {top: 68px;left: 56px;}
.payplug-lds-roller div:nth-child(3) {animation-delay: -0.108s;}.payplug-lds-roller div:nth-child(3):after {top: 71px;left: 48px;}
.payplug-lds-roller div:nth-child(4) {animation-delay: -0.144s;}
.payplug-lds-roller div:nth-child(4):after {top: 72px;left: 40px;}
.payplug-lds-roller div:nth-child(5) {animation-delay: -0.18s;}
.payplug-lds-roller div:nth-child(5):after {top: 71px;left: 32px;}
.payplug-lds-roller div:nth-child(6) {animation-delay: -0.216s;}
.payplug-lds-roller div:nth-child(6):after {top: 68px;left: 24px;}
.payplug-lds-roller div:nth-child(7) {animation-delay: -0.252s;}
.payplug-lds-roller div:nth-child(7):after {top: 63px;left: 17px;}
.payplug-lds-roller div:nth-child(8) {animation-delay: -0.288s;}
.payplug-lds-roller div:nth-child(8):after {top: 56px;left: 12px;}
@keyframes payplug-lds-roller {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform:rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform:rotate(360deg);
        transform: rotate(360deg);
    }
}
