#payment .payment_methods li label[for=payment_method_payplug] {
    display: flex;
}
#payment .payment_methods li img.payplug-payment-icon {
    margin-left: 5px;
    max-width: 144px;
    max-height: 25px;
}